body{

    background-color: antiquewhite;

    height: 100vh;

    justify-content: center;

}

.board{

    text-align: center;

}

.header{

    color: blue;

    font-size: 50px;

}

.cell{

    width: 70px;

    height: 70px;

    border: 1px black solid;    

    font-size: 50px;

}

.display span{

    color: blue;

    font-size: 30px;

}

.smily{

    cursor: pointer;

    width: 50px;

    height: 50px;

    border-radius: 50%;

}

.element{

    text-align: center;

    vertical-align: middle;

    width: 50px;

    height: 50px;

}

.title{

    width: 200px;

    height: 70px;

    border: 1px black dashed;

}

.hint{

    width: 120px;

    height: 80px;

    cursor: pointer;

    border-radius: 50%;

}